[Desktop Entry]
Version=1.1
Type=Application
Name=ComfyUI
Icon=comfyui.svg
Exec=comfyui.sh -a
Terminal=true
Actions=
Categories=Graphics;
StartupNotify=true
